extends ../shared/template

block content

  section(class='main')
    h2(class='cs-text')
      span(class='cs-text-cut') Node
      span(class='cs-text-mid') Tunes
      span(class='cs-text-cut') Node
